* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 100%;
}
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 10px;
  }
  .column img{
    width:300px;
    height:250px;  
}

  .catagories {
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .catagories:after {
    content: "";
    display: table;
    clear: both;
    
  }

 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

 
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: left;
    font-family: arial;
    cursor: pointer;
  }
.card:hover{
  box-shadow: 5px 10px 8px 10px #888888; ;
}
  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
  .card1:hover{
    box-shadow: 5px 10px 8px 10px #888888; ;
  }
  .checked {
    color: darkgoldenrod;
  }

header {
  background-color: #e3a772;
  height: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}
#h1h {
  margin: 10px 0px 0px 5px;
  display: inline;
  color: #f1f1f1;
}
.sing {
  float: right;
  margin: 10px 15px 0px 0px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: #44413c;
  color: #fff;
}
.sing:hover {
  background-color: #948d83;
}
.nav {
  position: sticky;
  top: 0;
}
ul {
  /* position:static;
    top: 0px; */
  background-color: burlywood;
  display: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  /* border-right: 1px solid snow; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#search {
  /* float: right; */
  padding: 6px;
  border: none;
  margin-top: 8px;
  /* margin-right: 16px; */
  font-size: 17px;
  margin-left: 300px;
}
#img1{
  width:30px;
  height: 10px;

}
#btnc{
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 18px;
  margin-left: 400px;
}

#btn1 {
  /* float: right;  */
  /* margin-left: 200px; */
  padding: 6px;
  border: none;
  margin-top: 8px;
  /* margin-right: 16px; */
  font-size: 17px;
}
#btn1:hover {
  background-color: tomato;
}


.reg-form {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}
.login-form {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.in1 {
  width: 50%;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
}
#btn2 {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  margin-left: 120px;
}
#btn3{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}


#btn3:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

#btn2:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}


img {
 
  border-radius: 10px;
  
}
 .item-1,.item-2,.item-3,.item-4{
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
margin-left: 10px;
margin-right: 5px;
margin-bottom: 5px;
}
  button{
    cursor: pointer;
  }

.footer {
  background-color: #44413C;
  color: floralwhite;
  height: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: 18px;
}
